# ---- IDE ----
.idea/
*.iml
captures/
.externalNativeBuild/
.cxx/

# ---- 签名材料 ----
*.jks
*.keystore
*.pepk
*.p12
*.pfx
keystore.properties

# ---- 可执行产物 / 包 ----
*.apk
*.aab
*.ap_
*.dex

# ---- 构建日志 ----
*.log

# ---- OS ----
.DS_Store
Thumbs.db
desktop.ini
